@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
   
}
body{

    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    font-size: 20px;
}

a{
    text-decoration: none;
}

input, textarea{
    border: 1px solid rgb(18, 163, 67);
    border-radius: 10px;
    padding: 10px ;
    width: 100%;

}

button{
    border: 1px solid rgb(18, 163, 67);
    border-radius: 10px;
    padding: 10px 30px;
    background-color: rgb(6, 136, 12);
    color: white;
}

.header{
    display: flex;
    justify-content: space-between;  
    align-items: center;
    background-color: rgb(19, 189, 211);
    padding: 10px 30px;  
    border-radius: 60px;
}

.header .title{
    display: flex;
    align-items: center;
    gap: 20px;
}

.header .menu a{
    font-weight: 600;
    color: black;
}

.content .h1 span{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(177, 52, 52);

}
.header span{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(177, 52, 52);
}

.content h1{
    display: flex;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.content .about{
    display: flex;
    justify-content: center;
    width: 70%;

}

.content .about img{
    width: 500px;
    height: 500px;
    border-radius: 250px;
    border: 15px solid rgb(6, 136, 12);
}
.content .description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}
.content .toolbar {
    display: flex;
    gap: 20px;
}

.content .toolbar a{
    background-color: rgb(19, 189, 211);
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items:  center;
    font-weight: 700;
    box-shadow: 3px 3px 8px rgb(172, 7, 7);
}

.section{
    width: 100%;
}


.section .card{
    display: flex;
    align-items: center;
    border: 1px solid rgb(18, 163, 67);
    border-radius: 20px ;
    padding: 50px;
    margin-top: 50px;
    gap: 40px;
    box-shadow: 3px 3px 8px rgb(172, 7, 7);
}

.section .card h2{
    font-weight: 700;
    color: rgb(6, 136, 12);
}


.section .card .left{
    flex: 3;

}

.section .card .rightt{
    flex: 2;
    
}

.section .form-row{
     margin-bottom: 20px;
}


.footer{
    display: flex;
    justify-content: space-around;
    border-top: 1px dotted gray;
}



